body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  background-color: #fefefe;
}

.main-navigation {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  box-shadow:
  5px -5px 15px 0 rgba(0, 1, 1, 0.2),
  -5px -5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header-logo {
  position: absolute;
  left: 50%;

  width: 138px;
  height: 70px;
  margin: 0 auto;

  transform: translateX(-50%);

  outline: 2px solid yellow;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  outline: 2px solid green;

}

.site-navigation li {
  width: 166px;
  outline: 2px solid blue;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:first-child {
  margin-right: 74px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:last-child {
  margin-left: 74px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

.main-container {
  width: 1200px;
  margin: 0 auto;

  text-align: center;

  background-color: #ffffff;
  box-shadow:
  5px -5px 15px 0 rgba(0, 1, 1, 0.2),
  -5px -5px 15px 0 rgba(0, 1, 1, 0.2); /*на главной внизу не хватает 5 пикселей тени, на внутренней в футере дырка*/
}

.promo {
  width: 100%;
  min-height: 508px; /*min-height 512px для резины, в фиксированной там высота 508 с маской*/

  background-color: #e0eef6;
  background-image: url("../img/promo-slogan.png"), url("../img//sedona_shape_big.png"), url("../img/sedona_promo.jpg");
  background-position: center 48.5%, 0% 100%, center 28.5%; /* в макете to the gorgeous смещено на пиксель правее, остальное совпдает идеально*/
  background-repeat: no-repeat;
  background-size: auto, auto, cover;

}

.features .container {
  width: 576px;
  margin: 62px auto;
  padding: 0;

  outline: 2px solid green;
}

.features b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features b + p {
  line-height: 26px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;

  background-color: #eeeeee;
  list-style: none;
}

.features-list > li:first-child,
.features-list > li:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  color: #ffffff;
}

.feature-item {
  min-width: 400px;
  min-height: 256px;
  margin: 0;
  padding: 0;

  outline: 2px solid yellow;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.feature-with-photo {
  width: 400px;

  background-color: #81b3d2;
}

.feature-photo {
  width: 800px;
  min-height: 256px;

  background-repeat: no-repeat;
  background-size: contain;
}

div.feature-with-photo + .feature-photo {
  background-color: #9b9a83;
  background-image: url("../img/real_city.jpg");
}

.feature-photo:first-child {
  background-color: #7c6355;
  background-image: url("../img/devils_bridge.jpg");
}

.tips-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  list-style: none;
}

.tip-item {
  width: 400px;
  min-height: 330px;

  color: #333333;
  outline: 2px solid yellow;
}

.tip-item h4 {
  font-size: 21px;
  color: #000000;
}

.search-form {
  width: 100%;
  margin: 0;
  padding: 0;
}

.search-form .container {
  width: 576px;
  margin: 60px auto;
  padding: 0;

  outline: 2px solid green;
}

.search-form b {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-form b + p {
  margin: 0;
  padding: 0;

  line-height: 24px;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.inner-page .button {
  font-size: 14px;
  line-height: 21px;
}

.search-form .button {
  height: 86px;
  margin: 0;
  padding: 0;
  background-color: #766357;
}

.search-form .button:hover,
.search-form .button:focus {
  background-color: #604e43;
}

.search-form .button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.inner-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  box-shadow:
  5px -5px 15px 0 rgba(0, 1, 1, 0.2),
  -5px -5px 15px 0 rgba(0, 1, 1, 0.2);
}

.filters {
  width: 100%;
  min-height: 217px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #6e99c1;
  background-image: url("../img/sedona_promo_blur.jpg"); /*картинка в макете чуть иначе расположена*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 1056px;
  min-height: 156px;
  margin: 0 auto;
  padding: 0;

  line-height: 21px;
  color: #ffffff;
}

.filter fieldset {
  width: 241px;
  margin: 0;
  padding: 0;

  border: none;

  outline: 2px solid yellow;
}

.filter fieldset:nth-child(2) {
  box-sizing: border-box;
  margin-right: auto;
  padding-left: 15px;
}

.filter fieldset:last-child {
  width: 317px; /*не могу понять, почему не реагирует на ширину*/
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-button {
  position: absolute;
  top: 115px;
  left: 825px;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.hotels {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hotels-sorting {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  height: 87px;
  margin: 0 auto;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;

  outline: 2px solid green;
}

.hotels-sorting strong {
  width: 135px;
  margin: 0;
  margin-right: 20px;
  padding-top: 32px;
  padding-bottom: 33px;
  padding-right: 10px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;

  outline: 2px solid yellow;
}

.hotels-sorting .container {
  width: 562px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  text-align: left;

  outline: 2px solid yellow;
}

.hotels-sorting p {
  margin: 0;
  padding: 0;
}

.hotels-sorting ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-sorting-criterion {
  text-align: left;
}

.hotels-sorting-criterion a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.hotels-sorting-criterion a:hover,
.hotels-sorting-criterion a:focus {
  color: #81b3d2;
}

.hotels-sorting-criterion a:active {
  color: #000000;

  border: none;
}

.hotels-sorting-criterion-current a {
  color: #81b3d2;

  border: none;
}

.hotels-sorting-position {
  width: 241px;
  margin: 0;
  padding: 0;

  text-align: right;

  outline: 2px solid yellow;
}

.hotels-list {
  width: 1056px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  outline: 2px solid green;
}

.hotel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 30px 0;

  border-top: 1px solid #e5e5e5;

  outline: 2px solid blue;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item-image {
  width: 135px;
  height: 90px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  padding-right: 10px;
  /*Картинки почему-то обрезаются, придумать, как исправить*/

  outline: 2px solid yellow;
}

.hotel-item-image img {
  padding: 0;
  margin: 0;
}

a.hotel-name h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

a.hotel-name:hover,
a.hotel-name:focus {
  color: #81b3d2;
}

a.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item-info {
    width: 562px;
    height: 90px;
    margin: 0;
    margin-right: auto;
    padding: 0;

    text-align: left;

    outline: 2px solid yellow;
}

.hotel-item-info a,
.hotel-item-info h3,
.hotel-item-info span,
.hotel-item-info p {
  margin: 0;
  padding: 0;
}


.hotel-item-info-button {
  margin: 0;
  padding: 0;

  background-color: #81b3d2;
}

.hotel-item-info-button:hover,
.hotel-item-info-button:focus {
  background-color: #669ec0;
}

.hotel-item-info-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-item-book-button {
  margin: 0;
  padding: 0;

  background-color: #766357;
}

.hotel-item-book-button:hover,
.hotel-item-book-button:focus {
  background-color: #604e43;
}

.hotel-item-book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-item-rating {
    width: 241px;
    margin: 0;
    padding: 0;

    text-align: right;

    list-style: none;

    outline: 2px solid yellow;
}

.hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 10px;

  line-height: 26px;
  color: #000000;
  text-align: center;

  background-color: inherit;
  opacity: 0.9;

  box-shadow:
  5px 5px 15px 0 rgba(0, 1, 1, 0.2),
  -5px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.index-footer {
  position: relative;
  bottom: 125px; /*не нашла, откуда берутся лишние 5 пикселей внизу*/

  box-shadow: none;
}

.inner-page .main-footer {
  opacity: 1;
}

.footer-hashtag {
  width: 400px;
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;

  outline: 2px solid yellow;
}

.footer-social {
  width: 400px;
  margin: 0;

  list-style: none;

  outline: 2px solid yellow;
}

.footer-social a {
  color: #000000;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  padding: 0;

  outline: 2px solid yellow;
}

.modal {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.search-form-modal input[type="text"]{
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-form-modal input:hover {
  background-color: #ebebeb;
}

.search-form-modal input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form-search-button {
  background-color: #81b3d2;
}

.search-form-search-button:hover,
.search-form-search-button:focus {
  background-color: #669ec0;
}

.search-form-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
