body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

.inner-page {
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

.main-container {
  text-align: center;

  background-color: #ffffff;
}

.promo {
  width: 100%;
  min-height: 512px;

  background-color: #e0eef6;
  background-image: url("../img/promo-slogan.png"), url("../img/sedona_promo.jpg");
  background-position: center, top;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.features b {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features b + p {
  line-height: 26px;
}

.features-list {
  background-color: #eeeeee;
  list-style: none;
}

.features-list > li:first-child,
.features-list > li:nth-child(2) {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: 700;
}

.feature-with-photo {
  width: 34%;
  height: auto;
}

.feature-photo {
  width: 66%;
  min-height: 256px;

  background-repeat: no-repeat;
  background-size: contain;
}

.feature-photo:first-child {
  background-color: #7c6355;
  background-image: url("../img/devils_bridge.jpg");
}

div.feature-with-photo + .feature-photo {
  background-color: #9b9a83;
  background-image: url("../img/real_city.jpg");
}

.tips-list {
  background-color: #ffffff;
  list-style: none;
}

.tip-item {
  color: #333333;
}

.tip-item h4 {
  color: #000000;
}

.search-form b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-form b + p {
  line-height: 24px;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.inner-page .button {
  font-size: 14px;
  line-height: 21px;
}

.search-form .button {
  background-color: #766357;
}

.search-form .button:hover,
.search-form .button:focus {
  background-color: #604e43;
}

.search-form .button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.filters {
  width: 100%;
  min-height: 217px;

  background-color: #6e99c1;
  background-image: url("../img/sedona_promo_blur.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter {
  line-height: 21px;
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.hotels-sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.hotels-sorting strong {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotels-sorting ul {
  list-style: none;
}

.hotels-sorting-criterion a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.hotels-sorting-criterion a:hover,
.hotels-sorting-criterion a:focus {
  color: #81b3d2;
}

.hotels-sorting-criterion a:active {
  color: #000000;

  border: none;
}

.hotels-sorting-criterion-current a {
  color: #81b3d2;

  border: none;
}

.hotels-list {
  list-style: none;
}

.hotel-item {
  border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

a.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

a.hotel-name:hover,
a.hotel-name:focus {
  color: #81b3d2;
}

a.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item-info {
  text-align: left;
}
.hotel-item-info-button {
  background-color: #81b3d2;
}

.hotel-item-info-button:hover,
.hotel-item-info-button:focus {
  background-color: #669ec0;
}

.hotel-item-info-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-item-book-button {
  background-color: #766357;
}

.hotel-item-book-button:hover,
.hotel-item-book-button:focus {
  background-color: #604e43;
}

.hotel-item-book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-item-rating {
  text-align: right;

  list-style: none;
}

.hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  line-height: 26px;
  color: #000000;
  text-align: center;

  opacity: 0.9;
}

.inner-page .main-footer {
  opacity: 1;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  list-style: none;
}

.footer-social a {
  color: #000000;
}

.footer-copyright span {
  vertical-align: middle;
}

.footer-copyright img {
  vertical-align: top;
}

.modal {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.search-form-modal input[type="text"]{
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-form-modal input:hover {
  background-color: #ebebeb;
}

.search-form-modal input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form-search-button {
  background-color: #81b3d2;
}

.search-form-search-button:hover,
.search-form-search-button:focus {
  background-color: #669ec0;
}

.search-form-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
